{% extends "coffee_shop/layout.html" %}
{% load static %}

{% block css %}Contact Us - Coffee Shop{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'coffee_shop_css/contact_style.css' %}">

<div class="contact-info-container">
    <h2>Холбоо барих</h2>
    {% for info in address_info %}
    <p>📍 Хаяг:{{ info.address }}</p>
    <p>📞 Утас:{{ info.phone }}</a></p>
    <p>📧 Имэйл:{{ info.email }}</a></p>
    {% endfor %}
    <p>🕒 Ажиллах цаг: Даваа-Ням 08:00 - 22:00</p>
</div>
{% endblock %}

